#fila1 {
    background-color: rgb(244, 255, 97);
    padding : 10px;
}
#header {
    float: left;
    width: 25%;
    text-align: center;
    
}
#header2 {
    width: 75%;
    text-align: center;
}

#columna1 {
    float: left;
    width: 25%;
    height: 75%;
    padding: 10px;
}
#columna2 {
    width: 75%;

}
#sidebar {
    text-align: left;
    height: 50%;
    width: 90%;
    background-color: paleturquoise;
    text-align: center;
}
#sidebar2 {
    text-align: left;
    height: 50%;
    width: 90%;
    background-color: paleturquoise;
    text-align: center;
}

#main {
    text-align: left;
    height: 50%;
    width: 90%;
    background-color: pink;
    text-align: center;
}

.margen-abajo {
    margin-bottom: 10px;
}
.margen-derecha {
   margin-right: 10px;
}