#fila1 {
    background-color: rgb(244, 255, 97);
}
#header {
    float: left;
    width: 25%
}
#header2 {
    width: 75%;
}
#fila2{
    float: left;
}
#columna {
    float: left;
    width: 25%;
}
#columna2 {
    width: 75%;
}

.margen-abajo {
    margin-bottom: 10px;
}
.margen-derecha {
   margin-right: 10px;
}