#fila1 {
    background-color: rgb(244, 255, 97);
    padding : 10px;
    width: 80%;
}


#header {
    float: left;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#h1 {
    text-transform: uppercase;
}
#header2 {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#columna1 {
    float: left;
    width: 25%;
    height: 75%;
}
#columna2 {
    width: 62%;
    height: 97%;
    float: left;
}
#sidebar {
    height: 50%;
    width: 90%;
    background-color: paleturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: overline;
}
#sidebar2 {
    height: 50%;
    width: 90%;
    background-color: paleturquoise;
    display: flex;
    align-items: center;
    justify-content: center;       
}
.sub {
    color: red
}

#main {
    height: 65%;
    width: 90%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer {
    height: 10%;
    width: 90%;
    background-color: rgb(101, 101, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}

.margen-abajo {
    margin-bottom: 10px;
}
.margen-derecha {
   margin-right: 10px;
}